<div class="ubd-details">
	<header class="detailed">
		<h1 class="text-center detailed">
			<a class="pull-left" ng-href="#/project">
				<span class="fa fa-angle-left"></span>
			</a>
			 {{block.name}}
		</h1>
	</header>
	<h2>
		{{block.name}} Block
	</h2>
	<table class="table">
		<tbody>
			<tr>
				<th>
					General Details
					<small>{{block.details}}</small>
				</th>
				<td>
					<span class="fa fa-angle-right"></span>
				</td>
			</tr>
		</tbody>
	</table>
	<h2>
		Tools &amp; Developer Notes
	</h2>
	<table class="table">
		<tbody>
			<tr ng-click="gotoView('test')">
				<th>
					Test
				</th>
				<td>
					<span class="fa fa-angle-right"></span>
				</td>
			</tr>
			<tr>
				<th>
					Developer Notes
				</th>
				<td>
					<span class="fa fa-angle-right"></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>