<div class="ubd-details">
	<header class="detailed">
		<h1 class="text-center detailed">
			<a class="pull-left" ng-click="goBack()">
				<span class="fa fa-angle-left"></span>
			</a>
			TEST
		</h1>
	</header>
	<h2>
		LED
	</h2>
	<table class="table">
		<tbody>
			<tr ng-click="LEDCommand(0)">
				<th>
					Colour 
					<small>Red</small>
				</th>
				<td>
					<span class="fa fa-angle-right"></span>
				</td>
			</tr>
			<tr ng-click="LEDCommand(1)">
				<th>
					Colour 
					<small>Blue</small>
				</th>
				<td>
					<span class="fa fa-angle-right"></span>
				</td>
			</tr>
			<tr ng-click="LEDCommand(2)">
				<th>
					Colour 
					<small>Yellow</small>
				</th>
				<td>
					<span class="fa fa-angle-right"></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>