<div class="ubd-details">
	<header class="detailed">
		<h1 class="text-center detailed">
			<a class="pull-left" ng-href="#/project">
				<span class="fa fa-angle-left"></span>
			</a>
			Project Details
		</h1>
	</header>
	<table class="table">
		<tbody>
			<tr>
				<th>
					Name
				</th>
				<td>
					{{details.name}}
				</td>
				<td>
					<span class="fa fa-angle-right"></span>
				</td>
			</tr>
			<tr>
				<th>
					Description
				</th>
				<td>
					{{details.description}}
				</td>
				<td>
					<span class="fa fa-angle-right"></span>
				</td>
			</tr>
			<tr>
				<th>
					Status
				</th>
				<td>
					{{details.status}}
				</td>
				<td>
					<span class="fa fa-angle-right"></span>
				</td>
			</tr>
			<tr>
				<th>
					Permissions
				</th>
				<td>
					{{details.permissions}}
				</td>
				<td>
					<span class="fa fa-angle-right"></span>
				</td>
			</tr>
		</tbody>
	</table>
	<h2>
		Case &amp; Packaging
	</h2>
	<table class="table">
		<tbody>
			<tr>
				<th>
					<img src="images/pricing1.jpg">
				</th>
				<td>
					Simple White 4x4
					<small>Custom Cover Gloss</small>
				</td>
				<td>
					<span class="fa fa-angle-right"></span>
				</td>
			</tr>
			<tr>
				<th>
					<img src="images/pricing2.jpg">
				</th>
				<td>
					White Cube
					<small>Colour Sleve</small>
				</td>
				<td>
					<span class="fa fa-angle-right"></span>
				</td>
			</tr>
		</tbody>
	</table>
	<h2>
		Pricing &amp; Ordering
	</h2>
	<table class="table">
		<tbody>
			<tr>
				<th>
					Product Pricing
					<small>
						Per-Unit Profit, Bulk Pricing, Discount Coupons...
					</small>
				</th>
				<td>
					<span class="fa fa-angle-right"></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>